/* .tableContainer {
  border: 1px white solid;
  border-radius: 5px;
  padding: 1em;
} */

td {
  border-bottom: 1px white solid;
  color: #aeaeae;
  text-align: center;
  word-break: break-all;
}

th {
  background-color: #2e3035;
}

.colName {
  min-width: 65px;
}

.colFimls {
  min-width: 190px;
  width: 190px;
}
